<style>
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  /* SCROLLABLE CONTENT FOR SUBNAV MOBILE NAVBAR */
    #messageContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 50;
    display: flex;
    flex-direction: column;
  }

  #scrollableContent {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
</style>


{% if section.settings.background_image == blank %}
<div class="absolute md:top-[73px] w-full h-2/6 md:h-full object-contain bg-cover bg-center z-10"
    style="background-image: url('{{ 'header-image-rotate.jpg' | asset_url }}');">
    {% else %}
    <div class="absolute md:top-[73px] w-full h-2/6 md:h-full object-contain bg-cover bg-center z-10"
        style="background-image: url('{{ section.settings.background_image | img_url: 'master' }}');">
    {% endif %}
<!-- Create a navbar slider with a hamburger icon -->
<div class="z-30 flex flex-col mx-auto pt-5" x-data="{open: false, searchBarButtonOpen: false, subNavOpen: false}">
    <!-- Navbar -->
    <div class="flex items-center justify-between flex-col px-4 py-3">
        <div class="flex items-center justify-between lg:justify-normal w-full">
        <!-- Hamburger icon -->
    <div x-data="{ open: false }">
        
        <button id="hamburger-icon" class="text-[#2E2D34] focus:outline-none xl:hidden"
            @click="open = !open; if (open) { document.body.classList.add('overflow-hidden') } else { document.body.classList.remove('overflow-hidden') }">
            <svg class="h-6 w-6 text-white z-50" x-show="!open" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        <div id="navData" class="bg-white xl:hidden z-40 absolute top-0 left-0 w-10/12 py-4 h-screen" x-show="open"
            x-transition:enter="transition ease-out duration-300" x-transition:enter-start="transform -translate-x-full"
            x-transition:enter-end="transform translate-x-0" x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="transform translate-x-0" x-transition:leave-end="transform -translate-x-full"
            @click.away="open = false; document.body.classList.remove('overflow-hidden')">
            <div>
                <svg @click="open = false; document.body.classList.remove('overflow-hidden')"
                    class="h-6 w-6 text-black z-50 absolute top-4 right-4 cursor-pointer" x-show="open" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
            <!-- Mobile Links -->
            <div id="removeContainer" class="flex flex-col px-4 pt-6 md:pt-12 md:py-2 space-y-2 z-50 hidden">
                <div class="flex items-center justify-between">
                    <div>
                    <button
                        class="subButton font-normal text-black block px-3 py-2 rounded-md text-base transition-all duration-500 ease-in-out transform">
                        {% for link in linklists.main-menu.links limit:1 %}
                        <span class="font-normal text-black">
                            {{ link.title }}
                        </span>
                        {% endfor %}
                    </button>
                    </div>
                    <div>
                        <button class="subButton">
                            <img class="w-7 mr-6" src="{{ 'forward-arrow.png' | asset_url }}" alt="dropdown arrow">
                        </button>
                    </div>
                </div>
            </div>
    
            <div id="removeContainer" class="flex px-6 pt-8 pb-6 z-50 transition-all duration-500 ease-in-out transform">
                {% render 'social-media-twitter' %}
                {% render 'social-media-facebook' %}
                {% render 'social-media-pinterest' %}
                {% render 'social-media-instagram' %}
                {% render 'social-media-tiktok' %}
                {% render 'social-media-youtube' %}
            </div>

            {% comment %} Start of Inside First Sub Navbar Slider Color Box {% endcomment %}
            <div id="messageContainer" class="hidden">
                <div id="topSectionDiv" class="flex justify-between items-center w-full p-4 bg-white">
                    <img src="{{ 'back-arrow.png' | asset_url }}" alt="back arrow" class="w-[20px] cursor-pointer" id="backArrow">
                    <span class="text-center flex-1">
                        {% for link in linklists.main-menu.links limit:1 %}
                        <span class="text-2xl font-bold">
                            {{ link.title }}
                        </span>
                        {% endfor %}
                    </span>
                    <img src="{{ 'close-icon.png' | asset_url }}" alt="close" class="w-[20px] cursor-pointer" id="closeButton">
                </div>
                <div id="scrollableContent" class="px-4 overflow-y-auto max-h-[400px]"> <!-- Ensure this has the correct styles -->
                    <div class="space-y-4 pb-4">
                        <div class="w-full overflow-hidden rounded-lg shadow-md">
                            <a href="/collections/woman/dresses" class="block no-underline text-inherit">
                                <div class="sublinkContainer bg-[#FFC0CB] p-5 rounded-t-lg w-full box-border m-0">
                                    <a href="/collections/woman/dresses" class="text-lg font-bold text-white block">Accessories</a>
                                    <a href="/collections/woman/dresses" class="text-sm text-black mt-2.5 leading-normal">
                                        Step up your style game with our eye-catching accessories! Our designer shoes will have you strutting
                                        with confidence, while our trendy glasses add that perfect touch of sophistication.
                                    </a>
                                </div>
                            </a>
                            <a href="/collections/woman/dresses" class="block">
                                <img src="{{ 'spring-wardrobe-switch-still-life.jpg' | asset_url }}" alt="Spring Wardrobe"
                                    class="w-full h-[400px] object-cover object-center block m-0">
                            </a>
                        </div>
                        
                        <div class="w-full overflow-hidden rounded-lg shadow-md">
                            <a href="/collections/woman/tops" class="block no-underline text-inherit">
                                <div class="sublinkContainer bg-[#87CEEB] p-5 rounded-t-lg w-full box-border m-0">
                                    <a href="/collections/woman/tops" class="text-lg font-bold text-white block">Tops</a>
                                    <a href="/collections/woman/tops" class="text-sm text-black mt-2.5 leading-normal">
                                        Discover our latest collection of trendy tops! From casual tees to elegant blouses, 
                                        we have the perfect top for every occasion.
                                    </a>
                                </div>
                            </a>
                            <a href="/collections/woman/tops" class="block">
                                <img src="{{ 'tops-collection.jpg' | asset_url }}" alt="Tops Collection"
                                    class="w-full h-[400px] object-cover object-center block m-0">
                            </a>
                        </div>
                        
                        <div class="w-full overflow-hidden rounded-lg shadow-md">
                            <a href="/collections/woman/bottoms" class="block no-underline text-inherit">
                                <div class="sublinkContainer bg-[#98FB98] p-5 rounded-t-lg w-full box-border m-0">
                                    <a href="/collections/woman/bottoms" class="text-lg font-bold text-white block">Bottoms</a>
                                    <a href="/collections/woman/bottoms" class="text-sm text-black mt-2.5 leading-normal">
                                        Complete your look with our stylish bottoms! From comfortable jeans to elegant skirts, 
                                        we have the perfect bottom to match your style.
                                    </a>
                                </div>
                            </a>
                            <a href="/collections/woman/bottoms" class="block">
                                <img src="{{ 'bottoms-collection.jpg' | asset_url }}" alt="Bottoms Collection"
                                    class="w-full h-[400px] object-cover object-center block m-0">
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    


        <!-- Desktop Navabar -->
        <div class="hidden xl:flex items-center justify-around">
            {% for link in linklists.main-menu.links %}
            <a class="font-normal text-white hover:underline underline-offset-4 decoration-1 block px-3 py-2 rounded-md text-base"
                href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
        </div>
        <!-- Desktop Logo -->
        <div class="text-center md:w-[20%] xl:w-[28%] mx-auto">
            <a href="{{ shop.url }}">
                {% if section.settings.image == blank %}
                <img class="max-[490px]:ml-[55px] ml-[75px] xl:ml-0 w-[100px] h-[17px] md:w-[150px] md:h-[25px]"
                    src="{{ 'logo.png' |  asset_url }}" alt="My company logo">
                {% else %}
                <img class="max-[490px]:ml-[55px] ml-[75px] w-[100px] h-[17px] md:w-[150px] md:h-[25px]"
                    src="{{ section.settings.image | img_url: 'master' }}" alt="My company logo">
                {% endif %}
            </a>
        </div>
        <!-- Desktop Cart -->
        <div class="text-[#2E2D34] hidden md:flex">
            <div class="max-[490px]:pr-2 pr-4">
                {% render 'icon-search' %}
            </div>
            <div class="max-[490px]:pr-2 pr-4">
                <!-- Shopping icon -->
                {% render 'icon-cart' %}
            </div>
            <div>
                <!-- Shopping icon -->
                {% render 'icon-customer' %}
            </div>
        </div>
        <div class="flex text-[#2E2D34] md:hidden">
            <!-- Mobile Search icon -->
            <div class="max-[490px]:pr-2 pr-4">
                {% render 'icon-search' %}
            </div>
            <div class="max-[490px]:pr-2 pr-4">
                <!-- Shopping icon -->
                {% render 'icon-cart' %}
            </div>
            <div>
                <!-- Shopping icon -->
                {% render 'icon-customer' %}
            </div>
        </div>
    </div>
        <!-- Header Center Text -->
        <div style="font-family: {{ section.settings.font_style }};" x-data="{ show: false }" x-init="setTimeout(() => show = true, 1000)"
            class="text-center md:flex md:flex-col md:justify-center md:items-center top-[12%] md:top-[30%] lg:top-0 right-0 bottom-0 left-0 text-white z-30 transition-all duration-1000 opacity-0 font-worksans"
            :class="{'opacity-100': show}">
            <h2 class="fresh-text pt-0 pb-0 md:pt-6 md:pb-0 text-xl md:text-3xl">{{section.settings.header_title}}</h2>
            <h1 class="find-text font-bold mt-0 pt-1 pb-5 md:py-5 text-2xl md:text-4xl">{{section.settings.header_bold_text}}</h1>
            <a href="" class="shop-now-button py-2 md:py-3 px-3 md:px-4" style="background-color: {{ section.settings.shop_now_button }};">Shop Now</a>
        </div>

    </div>
    {% comment %} Desktop Navlink Old Location {% endcomment %}
    <!-- White border box -->
    <div class="absolute top-[100px] bg-white border rounded-lg p-4" x-show="searchBarButtonOpen">
        <!-- Search input field (customize as needed) -->
        <input type="text" placeholder="Search..." class="w-2/4 mx-auto border-none outline-none">
    </div>
    <div x-show="searchBarButtonOpen" class="w-3/4 mx-auto absolute top-[100px] bg-white border">
        <button type="button" x-on:click="searchBarButtonOpen = false"
            class="absolute top-0 right-0 mr-5 mt-5 text-gray-500">
            {% render 'icon-close' %}
        </button>
        <div class="h-56 flex justify-center items-center">
            <form action="{{ routes.search_url }}" method="get" class="flex-auto">
                <div class="relative w-2/4 mx-auto text-gray-500 px-2.5 border">
                    <input type="search" name="q" placeholder="Search"
                        class="w-full bg-white h-10 px-5 pr-5 rounded-full text-sm focus:outline-none">
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const messageContainer = document.getElementById('messageContainer');
        const removeContainer = document.getElementById('removeContainer');
        const subButtons = document.querySelectorAll('.subButton');
        const hamburgerButton = document.getElementById('hamburger-icon'); // Target the hamburger button by ID

        // Hide messageContainer on page load
        messageContainer.style.display = 'none'; // Explicitly hide the messageContainer

        // Show removeContainer and hide messageContainer when hamburger button is clicked
        hamburgerButton.addEventListener('click', function() {
            removeContainer.classList.remove('hidden'); // Show removeContainer
            messageContainer.style.display = 'none'; // Hide messageContainer explicitly
        });

        // Show messageContainer when subButton is clicked
        subButtons.forEach(button => {
            button.addEventListener('click', function() {
                removeContainer.classList.add('hidden'); // Hide removeContainer
                messageContainer.style.display = 'block'; // Show messageContainer explicitly
            });
        });

        // Close button functionality
        document.getElementById('closeButton').addEventListener('click', function() {
            messageContainer.style.display = 'none'; // Hide messageContainer when close button is clicked
        });

        // Function to handle back arrow click
        function handleBackArrowClick() {
            if (messageContainer) {
                messageContainer.style.display = 'none'; // Hide messageContainer
            }
            if (removeContainer) {
                removeContainer.style.display = 'block'; // Show removeContainer
            }
        }

        // Function to handle subButton click
        function handleSubButtonClick() {
            if (messageContainer) {
                messageContainer.style.display = 'block'; // Show messageContainer
            }
            if (removeContainer) {
                removeContainer.style.display = 'none'; // Hide removeContainer
            }
        }

        // Add event listener for back arrow click
        document.getElementById('backArrow').addEventListener('click', handleBackArrowClick);
    });
</script>

{% schema %}
{
"name": "Header Section",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Logo Image"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background Image"
},
{
"type": "text",
"id": "header_title",
"label": "Heading Text",
"default": "Fresh, relaxed and color rich attire"
},
{
"type": "text",
"id": "header_bold_text",
"label": "Heading Second Text",
"default": "Find your Vibe!"
},
{
"type": "color",
"id": "shop_now_button",
"label": "Button Color Picker",
"default": "#000000"
},
{
"type": "font_picker",
"id": "font_style",
"label": "Font Styling",
"default": "work_sans_n4"
}
]
}
{% endschema %}