<div class="hidden md:block py-4 px-10 md:px-0 bg-gradient-to-r from-[#feb82b]/50 via-[#e561a1]/50 to-[#feb82b]/50">
    <p class="text-center">&#128075;Welcome to Ariel Cameron Leather, the home of handmade leather goods &#128512;</p>
</div>

<div class="absolute md:top-[8%] w-full h-2/6 md:h-full object-contain bg-cover bg-center z-10"
    style="background-image: url('{{ 'header-image-rotate.jpg' | asset_url }}');">
<!-- Create a navbar slider with a hamburger icon -->
<div class="z-30 flex flex-col max-w-screen-lg mx-auto pt-5" x-data="{open: false, searchBarButtonOpen: false}">
    <!-- Navbar -->
    <div class="flex items-center justify-between px-4 py-3">
        <!-- Hamburger icon -->
        <button class="text-[#2E2D34] focus:outline-none md:hidden" x-on:click="open = !open">
            <svg class="h-6 w-6 text-white" x-show="!open" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg class="h-6 w-6 text-white" x-show="open" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
        <!-- Desktop Search icon -->
        <div class="text-[#2E2D34] hidden md:block">
            <button x-on:click="searchBarButtonOpen = true" type="button"
                class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
                {% render 'icon-search' %}
            </button>
        </div>
        <!-- Desktop Logo -->
        <div class="text-center">
            <a href="{{ shop.url }}">
                {% if section.settings.image == blank %}
                <img class="max-[490px]:ml-[55px] ml-[75px] md:ml-0 w-[100px] h-[17px] md:w-[150px] md:h-[25px]"
                    src="{{ 'logo.png' |  asset_url }}" alt="My company logo">
                {% else %}
                <img class="w-[150px] h-[150px] md:w-[175px] md:h-[175px]"
                    src="{{ section.settings.image | img_url: 'master' }}" alt="My company logo">
                {% endif %}
            </a>
        </div>
        <!-- Desktop Cart -->
        <div class="text-[#2E2D34] hidden md:block">
            {% render 'icon-cart' %}
        </div>
        <div class="flex md:block text-[#2E2D34] md:hidden">
            <!-- Mobile Search icon -->
            <div class="max-[490px]:pr-2 pr-4">
                {% render 'icon-search' %}
            </div>
            <div class="max-[490px]:pr-2 pr-4">
                <!-- Shopping icon -->
                {% render 'icon-cart' %}
            </div>
            <div>
                <!-- Shopping icon -->
                {% render 'icon-customer' %}
            </div>
        </div>

        <!-- Header Center Text -->
        <div
            class="header-text-container text-center md:flex md:flex-col md:justify-center md:items-center fixed top-[5%] md:top-0 right-0 bottom-0 left-0 text-white z-30">
            <h2 class="fresh-text font-worksans pt-10 pb-0 md:pt-6 md:pb-0 text-xl md:text-3xl">Fresh, relaxed and color
                rich attire</h2>
            <h1 class="find-text font-bold mt-0 pt-1 pb-5 md:py-5 text-2xl md:text-4xl">Find your Vibe!</h1>
            <a href="" class="shop-now-button bg-black py-2 md:py-4 px-3">Shop Now</a>
        </div>

    </div>
    <!-- Slider -->
    <div class="bg-white md:hidden" x-show="open" x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="transform -translate-x-full" x-transition:enter-end="transform translate-x-0"
        x-transition:leave="transition ease-in duration-300" x-transition:leave-start="transform translate-x-0"
        x-transition:leave-end="transform -translate-x-full">
        <!-- Links -->
        <div class="flex flex-col px-4 pt-6 md:pt-0 md:py-2 space-y-2">
            {% for link in linklists.main-menu.links %}
            <a class="font-normal text-black hover:underline underline-offset-4 decoration-1 block px-3 py-2 rounded-md text-base"
                href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
        </div>
        <!-- Social Media Icons -->
        <div class="flex px-6 pt-8 pb-6">
            {% render 'social-media-twitter' %}
            {% render 'social-media-facebook' %}
            {% render 'social-media-pinterest' %}
            {% render 'social-media-instagram' %}
            {% render 'social-media-tiktok' %}
            {% render 'social-media-youtube' %}
        </div>
    </div>
    <!-- Desktop Navabar -->
    <div class="hidden md:flex items-center justify-around max-w-screen-md mx-auto mt-4">
        {% for link in linklists.main-menu.links %}
        <a class="font-normal text-[#5E5C66] hover:underline underline-offset-4 decoration-1 block px-3 py-2 rounded-md text-base"
            href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
    </div>
    <!-- White border box -->
    <div class="absolute top-[100px] bg-white border rounded-lg p-4" x-show="searchBarButtonOpen">
        <!-- Search input field (customize as needed) -->
        <input type="text" placeholder="Search..." class="w-2/4 mx-auto border-none outline-none">
    </div>
    <div x-show="searchBarButtonOpen" class="w-3/4 mx-auto absolute top-[100px] bg-white border">
        <button type="button" x-on:click="searchBarButtonOpen = false"
            class="absolute top-0 right-0 mr-5 mt-5 text-gray-500">
            {% render 'icon-close' %}
        </button>
        <div class="h-56 flex justify-center items-center">
            <form action="{{ routes.search_url }}" method="get" class="flex-auto">
                <div class="relative w-2/4 mx-auto text-gray-500 px-2.5 border">
                    <input type="search" name="q" placeholder="Search"
                        class="w-full bg-white h-10 px-5 pr-5 rounded-full text-sm focus:outline-none">
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% schema %}
{
"name": "Logo",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
}
]
}
{% endschema %}
